<div layout="row">
    <h1>Messages in the queue</h1>
    <md-button class="md-raised" ng-click="vm.removeAll()">Delete All</md-button>
    </div>




<div class="md-toolbar-tools" ng-show="vm.selected.length">
    <span>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items' : 'item'}} selected</span>
    <md-button class="md-raised" ng-click="vm.removeSelected()">Delete Selection</md-button>

</div>

<label>Search: <input ng-model="vm.searchText"></label>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-progress="vm.promise" md-row-select="true" ng-model="vm.selected">
        <thead md-head md-order="vm.query.order">
        <tr md-row>

            <th md-column md-order-by="seriesName"><span>seriesName</span></th>
            <th md-column md-order-by="values"><span>values</span></th>
            <th md-column md-order-by="tags"><span>tags</span></th>

        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="line" md-select-id="{{line._id}}" md-auto-select
            ng-repeat="line in vm.rawData | orderBy: vm.query.order | filter:vm.searchText | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
            <td md-cell>{{line.seriesName}}</td>
            <td md-cell>{{line.values}}</td>
            <td md-cell>{{line.tags}}</td>

        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination mdBoundaryLinks md-limit="vm.query.limit" md-options="vm.mdOptions" md-page="vm.query.page" md-total="{{vm.rawData.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>

